<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.the_incognito.darry.my_application2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".UserAreaActivity" />
        <activity
            android:name=".ConvosActivity"
            android:label="@string/title_activity_convos" />
        <activity
            android:name=".ConvosArrayAdapter"
            android:label="@string/title_activity_convos_array_adapter" />
        <activity
            android:name=".Chat"
            android:label="@string/title_activity_chat" />
        <activity android:name=".CustomActivity"></activity>
    </application>

</manifest>